
@*<div class="col-md-3 col-sm-3">
    <h3>Useful Links</h3>
    <nav>
        <ul>
            <!--<li><a href="/Event/List">Events</a></li>
            <li><a href="/Home/Calendar">Calendar</a></li>
            <li><a href="/Ranking">Rankings</a></li>-->
            <li><a href="/Home/Athletes">Athletes</a></li>
            <li><a href="/Home/Organisers">Organisers</a></li>
            <li><a href="/Home/Coaches">Coaches</a></li>
        </ul>
    </nav>
</div>

<div class="col-md-3 col-sm-3">
    <h3>About JobPortal</h3>
    <nav>
        <ul>
            <li><a href="/Home/Tournament">Tournament Platform</a></li>
            <li><a href="/Home/Federation">Federation Platform</a></li>
        </ul>
    </nav>
</div>
<div class="col-md-3 col-sm-3">
    <h3>Features</h3>
    <nav>
        <ul>
            <li><a href="/SetUpNewTournament">Online Tournament Registration</a></li>
            <li><a href="/Home/Features">Scoreboard</a></li>
            <li><a href="/Home/Features">See all Features</a></li>
        </ul>
    </nav>
</div>
<div class="col-md-3 col-sm-3">
    <h3>Support</h3>
    <nav>
        <ul>
            <li><a href="/Home/Contact">Contact</a></li>
            <li><a href="/Home/TermsAndConditions"><!--TJobPortals and Conditions-->Terms and Conditions</a></li>
            <li><a href="/Home/Privacy">Privacy Policy</a></li>
        </ul>
    </nav>
</div>*@
