
@{

    Layout = "~/Areas/GlobalAdmin/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Index";
}


<div class="JobPortal-aboutUsPage darkbg">
    <div class="container">
        <h2>Manage Trainings</h2>
        <div class="JobPortal-aboutUsPage">
            <input type="button" name="btnAddNew" id="btnAddNew" value="Add New Training" />
            <div class="clearfix"></div>
            <div>
                <div id="dvToAcademyTeams"></div>
            </div>
            <div class="clearfix"></div>
            <div id="myModal" title="Insert/Update Training" class="AddPoll">
                <div class="modal-content1">
                    <div class="modal-header1">
                        <h4 class="modal-title" id="myModalLabel">Insert/Update Training</h4>
                    </div>
                    <div class="modal-body pollPopupContent">
                        <div class="PollRow">
                            <input type="hidden" id="hdnTrainingId" />
                        </div>
                        <div class="PollRow">
                            <div class="PollLeft">Training Name:</div>
                            <div class="PollRight"><input id="txtTraining" type="text" /> <span id="sptxtTraining" style="color:red;display:none">Enter training</span></div>
                        </div>

                        <div class="PollRow">
                            <div class="PollButton">
                                <button type="button" onclick="UpdateAcademyTeamById();" id="btn_AddNewAcademy" class="btn btn-primary">Submit</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@Html.Partial("_ListRefrences")

<script src="~/Areas/GlobalAdmin/Scripts/ManageTrainings.js"></script>

